
<div class="sidenav">
<div class="l"><div class="c"><span class="logo l" >S</span></div></div>
<hr class="line">
<a routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <hr class="line">
  <a routerLink="education" [routerLinkActive]="['active']"  >Education</a>
  <hr class="line">
  <a routerLink="projects" [routerLinkActive]="['active']" >Projects</a>
  <hr class="line">
  <a routerLink="contact" [routerLinkActive]="['active']" >Contact</a>
  <hr class="line">
</div>
