

<div class="outer">
  <div class="box">
    <h2  class="txt">
      <span class="intro-span">H</span>
      <span class="intro-span">i</span>
      <span class="intro-span">,</span>
      <br>
      <span class="intro-span">I</span>
      <span class="intro-span">'</span>
      <span class="intro-span">m </span>
      <span class="intro-span logo">S</span>
      <span class="intro-span">h</span>
      <span class="intro-span">u</span>
      <span class="intro-span">b</span>
      <span class="intro-span">h</span>
      <span class="intro-span">a</span>
      <span class="intro-span">m</span>
      <span class="intro-span">,</span>
      <br>
      <span class="intro-span">W</span>
      <span class="intro-span">e</span>
      <span class="intro-span">b </span>
      <span class="intro-span">D</span>
      <span class="intro-span">e</span>
      <span class="intro-span">v</span>
      <span class="intro-span">e</span>
      <span class="intro-span">l</span>
      <span class="intro-span">o</span>
      <span class="intro-span">p</span>
      <span class="intro-span">e</span>
      <span class="intro-span">r</span>
      <span class="intro-span">.</span>
    </h2>


  </div>

  <img src="../../assets/Running-Code.gif" alt="" srcset="">
</div>






